/ReboundDemo.iml
/rebound-android-playground/build
/rebound-android-playground/gradle.properties
/rebound-android-playground/debug.keystore
/rebound-android-playground/BUCK
/rebound-android-playground/debug.keystore.properties
/gradle.properties
/gradlew
/gradle
/.idea
/settings.gradle
/gradlew.bat
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
